In [1]:
import pandas as pd
import zipfile

In [2]:
df = pd.read_csv('archive.zip',compression='zip')

In [3]:
df.head()

      Entity Code  Year  Net forest conversion
0    Algeria  DZA  1990                -8800.0
1    Algeria  DZA  2000                33900.0
2    Algeria  DZA  2010                 7600.0
3    Algeria  DZA  2015                -1400.0
4  Argentina  ARG  1990              -182600.0

In [4]:
df_col = df['Entity'].unique()
print(df_col)

['Algeria' 'Argentina' 'Aruba' 'Australia' 'Austria' 'Azerbaijan'
 'Bahrain' 'Bangladesh' 'Belarus' 'Belgium' 'Belize' 'Bhutan' 'Bolivia'
 'Brazil' 'Bulgaria' 'Burundi' 'Cameroon' 'Canada' 'Cape Verde'
 'Cayman Islands' 'Central African Republic' 'Chile' 'China' 'Colombia'
 'Congo' 'Costa Rica' 'Croatia' 'Cuba' 'Denmark' 'Djibouti'
 'Dominican Republic' 'Ecuador' 'El Salvador' 'Equatorial Guinea'
 'Estonia' 'Ethiopia' 'Falkland Islands' 'Faroe Islands' 'Finland'
 'French Guyana' 'Gabon' 'Georgia' 'Germany' 'Gibraltar' 'Greenland'
 'Guadeloupe' 'Guatemala' 'Guinea' 'Guyana' 'Honduras' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iraq' 'Ireland' 'Isle of Man' 'Italy' 'Jamaica'
 'Kuwait' 'Kyrgyzstan' 'Latvia' 'Liberia' 'Liechtenstein' 'Lithuania'
 'Madagascar' 'Malawi' 'Maldives' 'Mali' 'Martinique' 'Mauritania'
 'Mauritius' 'Mayotte' 'Mexico' 'Moldova' 'Monaco' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Nauru' 'Nepal' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Korea' 'Norway'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Poland' 'Portugal' 'Qatar'
 'Romania' 'Russia' 'San Marino' 'Sao Tome and Principe' 'Senegal'
 'Serbia' 'Singapore' 'Slovenia' 'Somalia' 'South Africa' 'South Korea'
 'Spain' 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syria' 'Tanzania'
 'Thailand' 'Togo' 'Tokelau' 'Tunisia' 'Turkey' 'Uganda' 'Ukraine'
 'United Kingdom' 'United States' 'Uruguay' 'Uzbekistan' 'Vatican'
 'Venezuela' 'Vietnam' 'World' 'Zambia' 'Zimbabwe']

In [5]:
s_a_df = df[df['Entity'].isin(['Argentina','Bolivia','Brazil','Chile','Colombia','Ecuador','Guyana','Paraguay','Peru','Suriname','Uruguay','Venezuela','French Guyana'])]
s_a_df

            Entity Code  Year  Net forest conversion
4        Argentina  ARG  1990              -182600.0
5        Argentina  ARG  2000              -316400.0
6        Argentina  ARG  2010              -223400.0
7        Argentina  ARG  2015              -104800.0
42         Bolivia  BOL  1990              -270330.0
43         Bolivia  BOL  2000              -201540.0
44         Bolivia  BOL  2010              -211760.0
45         Bolivia  BOL  2015              -238690.0
46          Brazil  BRA  1990             -3780940.0
47          Brazil  BRA  2000             -3950790.0
48          Brazil  BRA  2010             -1539180.0
49          Brazil  BRA  2015             -1453040.0
77           Chile  CHL  1990                57100.0
78           Chile  CHL  2000                90820.0
79           Chile  CHL  2010               174160.0
80           Chile  CHL  2015               122920.0
85        Colombia  COL  1990              -222260.0
86        Colombia  COL  2000              -192770.0
87        Colombia  COL  2010              -134630.0
88        Colombia  COL  2015              -198550.0
115        Ecuador  ECU  1990               -90170.0
116        Ecuador  ECU  2000               -70230.0
117        Ecuador  ECU  2010               -41800.0
118        Ecuador  ECU  2015               -64270.0
143  French Guyana  NaN  1990                -4560.0
144  French Guyana  NaN  2000                -4290.0
145  French Guyana  NaN  2010                -3300.0
146  French Guyana  NaN  2015                -3430.0
175         Guyana  GUY  1990                -3790.0
176         Guyana  GUY  2000                -4440.0
177         Guyana  GUY  2010               -11690.0
178         Guyana  GUY  2015                -9200.0
338       Paraguay  PRY  1990              -255420.0
339       Paraguay  PRY  2000              -342140.0
340       Paraguay  PRY  2010              -414250.0
341       Paraguay  PRY  2015              -279340.0
342           Peru  PER  1990              -115070.0
343           Peru  PER  2000              -124800.0
344           Peru  PER  2010              -171050.0
345           Peru  PER  2015              -172830.0
396       Suriname  SUR  1990                -3680.0
397       Suriname  SUR  2000                -4100.0
398       Suriname  SUR  2010                -9640.0
399       Suriname  SUR  2015               -11080.0
447        Uruguay  URY  2000                36230.0
448        Uruguay  URY  2010                37740.0
456      Venezuela  VEN  1990              -287500.0
457      Venezuela  VEN  2000              -164600.0
458      Venezuela  VEN  2010              -164400.0
459      Venezuela  VEN  2015               -90420.0

In [ ]:
s_a_df.to_csv('s_a.csv')