In [1]:
import pandas as pd
import matplotlib.pyplot as plt
#import dataframe_image as dfi

In [2]:
df = pd.read_csv('df_2008_2018.csv')

In [4]:
df.shape

(47105, 19)

In [5]:
df

,gid,origin_id,uf,pathrow,mainclass,class_name,dsfnv,julday,view_date,ano,areakm_squared,scene_id,publish_ye,lon,lat,day,month,year,states
0,282618,580137.0,MA,22164,DESMATAMENTO,d2017,2016.0,221.0,2017-08-09 00:00:00,2017.0,0.012362,100624.0,2017-01-01 00:00:00,-46.147619,-5.115730,9,8,2017,Maranhao
1,593800,1114637.0,MT,22669,DESMATAMENTO,d2008,NaN,168.0,2008-06-16 00:00:00,2008.0,0.306214,527.0,2008-01-01 00:00:00,-54.881533,-12.708523,16,6,2008,Mato Grosso
2,816637,25644.0,PA,22562,DESMATAMENTO,d2018,NaN,236.0,2018-08-24 12:00:00,2018.0,0.067416,101109.0,2018-01-01 00:00:00,-50.980997,-3.530574,24,8,2018,Para
3,393766,724609.0,PA,22466,DESMATAMENTO,d2009,NaN,220.0,2009-08-08 00:00:00,2009.0,0.078053,879.0,2009-01-01 00:00:00,-50.702206,-8.960971,8,8,2009,Para
4,117567,366852.0,RR,23258,DESMATAMENTO,d2009,NaN,292.0,2009-10-19 00:00:00,2009.0,0.000377,974.0,2009-01-01 00:00:00,-60.262828,2.378392,19,10,2009,Roraima
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47100,270942,564920.0,AM,166,DESMATAMENTO,d2010,NaN,229.0,2010-08-17 00:00:00,2010.0,0.383624,1081.0,2010-01-01 00:00:00,-66.911315,-8.756090,17,8,2010,Amazonas
47101,654786,1247120.0,PA,22763,DESMATAMENTO,d2016,NaN,197.0,2016-07-15 00:00:00,2016.0,0.648952,100235.0,2016-01-01 00:00:00,-55.368834,-4.376401,15,7,2016,Para
47102,650402,1242736.0,PA,22763,DESMATAMENTO,d2010,NaN,212.0,2010-07-31 00:00:00,2010.0,0.071587,1083.0,2010-01-01 00:00:00,-54.884430,-4.364646,31,7,2010,Para
47103,154650,437032.0,RO,23267,DESMATAMENTO,d2011,NaN,218.0,2011-08-06 00:00:00,2011.0,0.239621,1261.0,2011-01-01 00:00:00,-63.594979,-10.200157,6,8,2011,Rondonia
47104,457599,806475.0,PA,22463,DESMATAMENTO,d2008,2007.0,234.0,2008-08-21 00:00:00,2008.0,0.486848,583.0,2008-01-01 00:00:00,-50.634865,-4.795181,21,8,2008,Para

In [ ]:
df_drop = df.dropna()
df_drop